.header{
    height: 200px;
    width: 100%;
    background-color: #507DBC;
    margin: 0%;
    color: #DAE3E5;
}   

footer{
    height: 30px;
    width: 100%;
    background-color: #04080f;
    color: #DAE3E5;
}

/*

04080f - Rich Black
507DBC - Glaucous
A1C6EA - Baby Blue eyes
BBD1EA - Beach Blue
DAE3E5 - Gainsbro

*/